:root {
  --main-color: #008080;
  --main-complement-color: #FF7F7F;
}

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

p,
.air-p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4,
h5,
.air-h5,
h6,
.air-h6 {
  color: #006680;
  font-weight: bold;
  margin: 1.8rem auto 0.2rem auto;
  padding-bottom: 0.2rem;
  word-spacing: 0.1em;
}

h1 a,
h1 a:visited,
.air-h1 a,
.air-h1 a:visited,
h2 a,
h2 a:visited,
.air-h2 a,
.air-h2 a:visited,
h3 a,
h3 a:visited,
.air-h3 a,
.air-h3 a:visited,
h4 a,
h4 a:visited,
.air-h4 a,
.air-h4 a:visited,
h5 a,
h5 a:visited,
.air-h5 a,
.air-h5 a:visited,
h6 a,
h6 a:visited,
.air-h6 a,
.air-h6 a:visited {
  color: #006680;
  text-decoration: none;
}

h1,
.air-h1 {
  font-size: 3rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}

h2,
.air-h2 {
  border: solid var(--main-complement-color);
  border-width: 0 0 2px 0;
  font-size: 2.6rem;
}

h3,
.air-h3 {
  border: dashed var(--main-complement-color);
  border-width: 0 0 2px 0;
  font-size: 2.2rem;
}

h4,
.air-h4 {
  border: dotted var(--main-complement-color);
  border-width: 0 0 2px 0;
  font-size: 1.8rem;
}

h5,
.air-h5 {
  font-size: 1.4rem;
}

h6,
.air-h6 {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

small,
.air-small {
  font-size: 0.8em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

body {
  background-color: white;
  color: #222;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  margin: 2rem auto 1rem auto;
}

.markdown-body {
  max-width: 1080px !important;
}

figure,
figure caption {
  color: #777;
  text-align: center;
}

img {
  border-bottom: 4px var(--main-complement-color) solid;
  border-left: 4px var(--main-color) solid;
  border-right: 4px var(--main-complement-color) solid;
  border-top: 4px var(--main-color) solid;
  margin: 0 auto;
  max-width: 90%;
}

a,
a:visited {
  color: #003380;
}

a:focus,
a:hover,
a:active {
  color: #7F0080;
}

pre {
  background-color: #FAFAFA;
  padding: 0 1rem 0 1rem;
  text-align: left;
}

blockquote {
  border-left: 5px solid var(--main-color);
  font-style: italic;
  margin: 0;
  padding: 0.1em 1.33em;
  text-align: left;
}

ul,
ol,
li {
  text-align: left;
}

dl {
  background-color: #EEE;
  border-radius: 8px 0 8px 0;
  padding: 0.4rem 0.8rem;
}

dt {
  font-weight: bold;
}

p {
  color: #333;
  line-height: 1.4em;
}

hr {
  color: var(--main-complement-color);
}
